*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid red;
}
ol, ul{
    margin-bottom: 0 !important;
    padding-left: 0 !important;

}
/*header*/
/*header top*/
header{
    z-index: 600;
    position: fixed;
    width: 100%;
    height: 115px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.header-top{
    background-color: black;
    display: flex;
    justify-content: end;
}
.header-top img{
    width: 100px;
    padding: 10px;
}

/*header bottom*/
.header-bottom{
    padding: 15px;
    width: 100%;
    background-color: white;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
}
.header-bottom section{
    display: flex;
    align-items: center;
}
.header-bottom li{
    display: inline-block;
    color: black;
}
.header-bottom li i{
    color: #ABABAB;
    margin: 0 20px 0 5px;
    font-size: 12px;
}
header li{
    font-size: 20px;
    font-weight: 600;
}
header li img{
    margin-right: 30px;
}






/*end header*/





/*main*/
main{
    width: 100%;
    padding-top: 114px;
}
.container-main-margins{
    padding: 0 50px 0 50px;
}
/*<section class="container-main-margins"></section>*/

/*returnal*/
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
}
#jumbo-container{
    margin-bottom: 70px;
}
#jumbotron img{
    width: 300px;
    margin-bottom: 30px;
}
#jumbotron h1, #jumbotron h2{
    display: block;
    color: white;
}
#jumbotron h1{
    font-size: 60px;
}
#jumbotron h2{
    font-size: 25px;
    margin: 50px 0;
}
#jumbotron a{
    background-color: #CD3D0F;
    color: white;
}
/*fine returnal*/


/*blocco 6 giochi*/
#row6-games.row{
    padding: 50px 60px 0 60px;
    width: 100%;
}
.games-6-pill-container img{
    border-radius: 30px;
    width: 100%;
}
/*fine blocco 6 giochi*/






/*blocco playstation 5*/
#playstation5{
    margin-top: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}
#playstation5 h3{
    color: blue;
    text-transform: uppercase;
    font-size: 20px;
}
#playstation5 h1{
    color: black;
    margin-bottom: 40px;
    font-size: 50px;
}
#playstation5 h2{
    color: gray;
    font-size: 24px;
}

#playstation5 .row{
    margin-top: 100px;
    width: 100%;
}

#playstation5 a{
    background-color: blue;
    color: white;
}
#playstation5 .blocco-text-play h1,
#playstation5 .blocco-text-play h2,
#playstation5 .blocco-text-play a{
    text-align: left;
}
#playstation5 .blocco-text-play{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#playstation5 div:last-child div:last-child{
    display: flex;
    justify-content: flex-start;
}
.playstation-row-photo_text{
    display: flex;
    align-items: center;
}

/*fine blocco playstation 5*/











/*blocco cards oggetti ps5*/
#cards-oggetti-ps5{
    margin-top: 150px;
}
.card-accessorio{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.5s;
    width: 90%;
}
.card-accessorio:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
/*fine blocco cards oggetti ps5*/
















/*blocco it takes 2*/
#jumbotron2{
    margin-top: 80px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
}
#jumbo-container2{
    margin-bottom: 70px;
}
#jumbotron2 img{
    width: 300px;
    margin-bottom: 30px;
}
#jumbotron2 h1, #jumbotron2 h2{
    display: block;
    color: white;
}
#jumbotron2 h1{
    font-size: 60px;
}
#jumbotron2 h2{
    font-size: 25px;
    margin: 50px 0;
}
#jumbotron2 a{
    background-color: #CD3D0F;
    color: white;
}
/*fine blocco it takes 2*/






/*sezione gamecards*/
#gamecards{
    background-color: #1F1F1F;
    color: white;
    padding-bottom: 60px;
    margin-bottom: 100px;
}
#gamecards h1{
    font-size: 50px;
    padding: 20px 0;
}
#gamecards h2{
    padding-bottom: 20px;
}
#gamecards img{
    border-radius: 20px;
}
#gamecards .row{
    padding-bottom: 60px;
}
.card-accessorio{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.5s;
    width: 90%;
}
.card-accessorio:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
/*fine sezione gamecards*/



/*sezione playstation 4*/
#playstation4{
    margin-bottom: 100px;
}
#playstation4 h1, #playstation4 h2{
    text-align: center;
} 
#playstation4 h1{
    color: black;
    font-size: 50px;
    margin-bottom: 40px;
} 
#playstation4 h2{
    color: gray;
    font-size: 26px;
    margin-bottom: 80px;
} 

#playstation4 .col h4{
    font-size: 50px;
    margin-bottom: 10px;
}
#playstation4 .col h5{
    color: gray;
    font-size: 25px;
}
#playstation4 .card-accessorio div{
    margin-top: 20px;
}
/*fine sezione playstation 4*/







/*sezione playstation plus*/
#playstationplus{
    margin-bottom: 100px;
}
#playstationplus{
    background-color: gray;
}
#playstationplus .container-main-margins{
    display: flex;
    justify-content: space-between;
}
#playstationplus .container-main-margins .play-plus-textarea img{
    width: 500px;
}
#playstationplus .container-main-margins .play-plus-imgarea img{
    height: 600px;
}
#playstationplus .container-main-margins .play-plus-textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7% 0;
}
/*fine sezione playstation plus*/




/*blocco playstation store*/
#playstore{
    text-align: center;
    margin-bottom: 100px;
}
#playstore h1{
    color: black;
    font-size: 50px;
    margin-bottom: 40px;
}

#playstore h2{
    color: gray;
    font-size: 28px;
    margin-bottom: 80px;
}

/*fine blocco playstation store*/








/*blocco playstation now*/
#playnow{
    background-color: #161C3B;
    width: 100%;
    margin-bottom: 100px;
    color: white;
}
#playnow .container-main-margins{
    display: flex;
    justify-content: space-between;
}
#playnow .container-main-margins .play-now-textarea img{
    width: 500px;
}
#playnow .container-main-margins .play-now-imgarea img{
    height: 600px;
}
#playnow .container-main-margins .play-now-textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7% 0;
}
/*fine blocco playstation now*/




















/*blocco social media*/


#playmedia{
    text-align: center;
    margin-bottom: 180px;
}
#playmedia h1{
    font-size: 40px;
    margin-bottom: 80px;
}
#flexbox-socialmedia{
    display: flex;
    justify-content: center;
}
#flexbox-socialmedia .col{
    display: flex;
    justify-content: center;
    max-width: 300px;
}
#flexbox-socialmedia img{
    max-width: 250px;
    max-height: 250px;
}




/*fine blocco social media*/




















/*fine main*/


















































/*footer*/
footer{
    background-color: #00439C;
    padding: 100px 80px;
    color: white;
    height: 600px;
}
footer #left-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer #left-box #region{
    margin-bottom: 80px;
}
footer #country-logo-box{
    display: flex;
    flex-direction: column;
}
footer #region i, footer #region h4{
    display: inline-block;
    vertical-align: middle;
}
footer #region i{
    font-size: 30px;
}
footer #disclaimer img{
    width: 150px;
}
#right-box li{
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}
#right-box a{
    color: white;
    text-decoration: none;
}



























/*fine footer*/